# General
DEBUG_LEVEL=INFO
PORT=8001
# Graphivac
GRAPHIVAC_BASE_URL=https://graphivac.hvac.io/api/v1
GRAPHIVAC_ORG_ID=public
GRAPHIVAC_PROJECT_ID=P-j8QIvTGH7p
GRAPHIVAC_GRID_ID=G-LAiRS3mgp6
# AI model
SHARED_ADK_MODEL=gemini-3.1-pro-preview-customtools
# AI tokens and keys
GOOGLE_API_KEY=your_api_key
ANTHROPIC_API_KEY=your_api_key
OPENAI_API_KEY=your_api_key
GITHUB_TOKEN=your_api_key
